/* CSS */
/**************************/
/* THIS ALL WILL NEED TO BE PUT INTO THE SCSS FISH FILE TO USE COMPASS AND SASS
/**************************/
/* line 9, ../scss/fish.scss */
#fullscreen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999; }

/* line 18, ../scss/fish.scss */
canvas {
  height: 100%;
  width: 100%;
  border: solid 1px;
  -ms-touch-action: none;
  touch-action: none; }

/* line 26, ../scss/fish.scss */
.salmon {
  height: 122;
  width: 200px;
  position: absolute;
  z-index: 6000;
  bottom: -200px;
  left: 800px;
  -webkit-animation: fish 2s ease-in-out infinite; }

/* line 35, ../scss/fish.scss */
#salmonbody {
  height: 122px;
  width: 200px;
  background: url(../images/salmonbody.png) no-repeat;
  position: relative; }

/* line 41, ../scss/fish.scss */
#salmontail {
  height: 122px;
  width: 200px;
  background: url(../images/salmontail.png) no-repeat;
  position: absolute;
  top: -2px;
  left: 2px;
  -webkit-animation: tail 0.3s infinite; }

@-webkit-keyframes fish {
  /* line 51, ../scss/fish.scss */
  0% {
    left: -200px;
    bottom: -200px; }

  /* line 52, ../scss/fish.scss */
  50% {
    left: 400px;
    bottom: 300px;
    -webkit-transform: rotate(40deg); }

  /* line 53, ../scss/fish.scss */
  75% {
    -webkit-transform: rotate(-280deg); }

  /* line 54, ../scss/fish.scss */
  100% {
    left: 900px;
    bottom: -200px;
    -webkit-transform: rotate(-360deg); } }

@-webkit-keyframes tail {
  /* line 57, ../scss/fish.scss */
  0% {
    top: -5px; }

  /* line 58, ../scss/fish.scss */
  25% {
    top: 0px; }

  /* line 59, ../scss/fish.scss */
  75% {
    top: 5px; }

  /* line 60, ../scss/fish.scss */
  100% {
    top: -5px; } }

/* line 62, ../scss/fish.scss */
#mountain {
  width: 100%;
  height: 600px;
  position: absolute;
  z-index: 4000;
  bottom: 0px;
  left: 0px;
  background-image: url(../images/mountainStream.png);
  background-repeat: no-repeat;
  background-size: 100% 600px; }

/* line 74, ../scss/fish.scss */
.egg {
  height: 100px;
  width: 100px;
  background-image: url(../images/egg.png);
  background-repeat: no-repeat;
  position: absolute;
  z-index: 7000;
  left: 400px;
  bottom: 300px;
  -webkit-transition: opacity 1s ease-out; }

/* line 87, ../scss/fish.scss */
.egg.splat {
  background-image: url(../images/splat.png);
  opacity: 0; }
